/* Work Sans font from google font */
 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&family=Work+Sans:wght@400;500;600;700&display=swap');
* {
    font-family: 'Work Sans', sans-serif;
}
/* Header styles */
/* Nav section */
body{
    margin: 0;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-title{
    color: #131313;
    font-weight: 700;
    font-size: 2.8rem;
    align-items: center;
}
nav>ul{
    display: flex;
}
nav>ul>li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* Banner section */
.banner{

}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-details{
    color: #727272;
}
.btn-primary{
    width: 180px;
    height: 64px;
    /* padding: 20px 25px; */
    border-radius: 8px;
    border-style: none;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}
.banner img{
    margin-top: 25px;
    width: 100%;
}
/* Main styles */
main{
    max-width: 1440px;
    margin: 70px auto;
}
/* Feature Section */
.feature{
    display: flex;
    align-items: center;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.feature-content{
    padding-left: 70px;
    padding-right: 70px;
}
.sec-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.thin{
    color: #727272;
    font-weight: 500;
}
.orange{
    color: #FF900E;
    font-weight: 700;
}

/* Responsive media query */
/* small devices */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,  .feature{
        flex-direction: column;
    }
    .feature-img{
        grid-template-columns: 1fr;
    }
    .feature-content{
        padding-left: 10px;
        padding-right: 10px;
    }
}
/* medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    .feature{
        flex-direction: column-reverse;
    }
    .feature-content{
        padding-left: 30px;
        padding-right: 30px;
    }
    .feature-img{
        margin-top: 30px;
    }
}